
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="registration-container p-1">

        <div class="box">
            <div class="useremail">{{user.email}}</div>
            <div class="logout ">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>

        <form class="row g-3" method="POST">

            {% csrf_token %}
            <div class="col-12">
                <label for="ivalue" class="form-label">Input Values</label>
                <input type="text" class="form-control" id="ivalue" name="input_data">
            </div>
            <div class="col-md-12">
                <label for="svalue" class="form-label">Search Value</label>
                <input type="number" class="form-control" id="svalue" name="search_data">
            </div>


            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="khoj">
        </form>
        {% if output is not none %}
        <p class="well">
            {{output}}
        </p>
        
        {% endif %}
    </div>

</body>

</html>